<div id="<%= dom_id credit %>">
  <p>
    <strong>Amount:</strong>
    <%= credit.amount %>
  </p>

  <p>
    <strong>Remark:</strong>
    <%= credit.remark %>
  </p>

  <p>
    <strong>Receiver user:</strong>
    <%= credit.receiver_user&.email %>
  </p>

</div>
